

.bc-color-red {
    background-color: red;
}

.bc-color-blue {
    background-color: rgb(48, 48, 87);
}

.bc-color-green {
    background-color: chartreuse;
}

.bc-color-white {
    background-color: white;
}

.bc-color-alice {
    background-color: wheat;
}


.p-20 {
    padding: 20px;
}

.h-150 {
    height: 150px;
}


.h-300 {
    height: 300px;
}

.p-top {
    padding-top: 30px;
}


