

.bc-color-red {
    background-color: red;
}

.bc-color-blue {
    background-color: rgb(48, 48, 87);
}

.bc-color-green {
    background-color: chartreuse;
}

.bc-color-white {
    background-color: white;
}



 .h-60 {
    height: 60px;
} 

.h-150 {
    height: 150px;
}

.h-400 {
    min-height: 400px;
}

.h-300 {
    height: 300px;
}

.h-500 {
    min-height: 500px;
}

.p-top {
    padding-top: 30px;
}


